<div class="container">
    <h2 style="margin-top: 5px; text-align: center; color: #64bc1d; padding: 10px; font-family: Arial; font-size: 24px;">Üdvözlünk az Tantárgyak Kezelésében!</h2>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tantárgyak</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li *ngFor="let subject of subjects" class="list-group-item" (click)="onSelect(subject)">
                            {{ subject.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Kiválasztott Tantárgy</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="selectedSubject">
                        <h6 class="card-subtitle mb-2" style="color: black; font-family: Arial; font-size: 18px;">{{ selectedSubject.name }}</h6>
                        <p class="card-text" style="color: black;">Azonosító: {{ selectedSubject.id }}</p>
                        <button class="btn btn-danger mt-3" (click)="deleteSubject(selectedSubject.id)">Téma Törlése</button>
                    </div>
                    <div *ngIf="!selectedSubject">
                        <p style="color: black; font-family: Arial; font-size: 18px;">Válasszon egy tantárgyat a listából a részletek megtekintéséhez.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tantrágy létrehozása</h5>
                </div>
                <div class="card-body">
                    <form (submit)="createSubject()">
                        <div class="form-group">
                            <label for="subjectName">Név</label>
                            <input type="text" class="form-control" id="subjectName" [(ngModel)]="newSubject.name" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="color: black; font-family: Arial; font-size: 18px;">Létrehozás</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tantrágy Frissítése</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="selectedSubject">
                        <form (submit)="updateSubject(selectedSubject.id)">
                            <div class="form-group">
                                <label for="subjectName">Név</label>
                                <input type="text" class="form-control" id="subjectName" [(ngModel)]="selectedSubject.name" name="name" required>
                            </div>
                            <button type="submit" class="btn btn-primary" style="color: black; font-family: Arial; font-size: 18px;">Frissítés</button>
                        </form>
                    </div>
                    <div *ngIf="!selectedSubject">
                        <p style="color: black; font-family: Arial; font-size: 18px;">Nincs kiválasztott tantargy.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
